.background {
  viewport-fill: fb-cyan;
}
.application-fill           { fill: #006ED6; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-white; }

#btn_snooze #text {
  text-buffer: "Snooze";
}

#btn_dismiss #text {
  text-buffer: "Dismiss";
}